@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Font family 
font-family: Bebas Neue;
font-family: Roboto; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
}
.header{
    background-color: #FFF9F4;
}
.primary-color{
    color: #FA804C;
}
.secondary-color{
    color: #363958;
}
/* h1{
    font-size: 80px;
    font-weight: 700;
    
    line-height: 80px;
} */
h1,h2{
    text-transform: uppercase;
    font-family: Bebas Neue;
}
p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    font-family: Roboto;
}
/* Navigation Style  start*/
.navbar img{
    width: 229px;
    height: 40px;
}
.navbar ul li {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    color: #3C3C3C;
}
/* Navigation Style  End*/







@media (min-width:769px){
    .banner-content{
        width: 75%;
        margin: auto;
    }
}
@media (min-width:1025px){
    .banner-content h1{
        font-size: 80px;
    }
}
@media (max-width:540px) {
    .banner-content{
        width: 100%;
        margin: none;
    }
    .banner-content h1{
        font-size: 46px;
    }
    .banner-content img{
        width: 40%;
        margin: auto;
    }
}