@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Font family 
font-family: Bebas Neue;
font-family: Roboto; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
}
.header{
    background-color: #FFF9F4;
}
.primary-color{
    color: #FA804C;
}
.secondary-color{
    color: #363958;
}
/* h1{
    font-size: 80px;
    font-weight: 700;
    
    line-height: 80px;
} */
h1,h2{
    text-transform: uppercase;
    font-family: Bebas Neue;
}
h2{
    font-size: 48px;
    line-height: 48px;
}
h3{
    font-family: Bebas Neue;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.5px;
}
p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    font-family: Roboto;
}
/* Navigation Style  start*/
.navbar img{
    width: 229px;
    height: 40px;
}
.navbar ul li {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    color: #3C3C3C;
}
/* Navigation Style  End*/

/* Categories Products Section  */
.categories{
    margin: 25px 0 50px 0;
}
.item{
    border-radius: 20px;
}
.item img{
    background-color: #f8f6f4;
    border-radius: 20px;
}
.product{
    box-shadow: .5px .5px 10px .5px rgb(245, 243, 243);
}
.product:hover{
    box-shadow: 1px 2px 10px 8px rgb(238, 233, 233);
    transform: translateY(-10px);
    transition: 0.5s;
}




@media (min-width:769px){
    .banner-content{
        width: 70%;
        margin: auto;
    }
}
@media (min-width:1025px){
    .banner-content h1{
        font-size: 80px;
    }
}
@media (max-width:540px) {
    .banner-content{
        width: 100%;
        margin: none;
    }
    .banner-content h1{
        font-size: 46px;
    }
}
@media (max-width:769px){
    .categories h2{
        text-align: center;
    }
}
